<div class = "container">
  <div class = "main-box">
    <div class="toolbar" role="banner">
        <img class = "title-image" src="./assets/projects.png" alt = "environment"/>
       <div class = title>
        <h3>{{title}}</h3>
       </div>
        
    </div>
    <div class = "cards">
      <div class = "container-1">
        <div class = "box">
          <div class = "image-box">
            <div class = "btn-info">
              <button>Buy Now</button>
              <div class = "price-info">{{price}}</div>
            </div>
           
            <div class = "card-title">{{card_1_Title}}</div>
          </div>
         <div class = "card-heading">{{card_1_Heading}}</div>
         <div class = "card-price">{{card_1_Price}}</div>
         <div class = "card-desc">{{card_1_desc}}</div>
        </div>
        <div class = " box">
          <div class = "image-box">
            <div class = "card-title">{{card_2_Title}}</div>
          </div>
          <div class = "card-heading">{{card_2_Heading}}</div>
          <div class = "card-price">{{card_2_Price}}</div>
          <div class = "card-desc">{{card_2_desc}}</div>
        </div>
        <div class = "box">
          <div class = "image-box">
            <div class = "card-title">{{card_3_Title}}</div>
          </div>
          <div class = "card-heading">{{card_3_Heading}}</div>
          <div class = "card-price">{{card_3_Price}}</div>
          <div class = "card-desc">{{card_3_desc}}</div>
        </div>
        <div class = "box">
          <div class = "image-box">
            <div class = "card-title">{{card_4_Title}}</div>
          </div>
          <div class = "card-heading">{{card_4_Heading}}</div>
          <div class = "card-price">{{card_4_Price}}</div>
          <div class = "card-desc">{{card_4_desc}}</div>
        </div>
      </div>
      <div class = "container-2">
        <div class = "box">
          <div class = "image-box">
            <div class = "card-title">{{card_5_Title}}</div>
          </div>
          <div class = "card-heading">{{card_5_Heading}}</div>
          <div class = "card-price">{{card_5_Price}}</div>
          <div class = "card-desc">{{card_5_desc}}</div>
        </div>
        <div class = "box">
          <div class = "image-box">
            <div class = "card-title">{{card_6_Title}}</div>
          </div>
          <div class = "card-heading">{{card_6_Heading}}</div>
          <div class = "card-price">{{card_6_Price}}</div>
          <div class = "card-desc">{{card_6_desc}}</div>
        </div>
        <div class = "box">
          <div class = "image-box">
            <div class = "btn-info">
              <button>Buy Now</button>
            <div class = "price-info">{{price2}}</div>
            </div>
            <div class = "card-title">{{card_7_Title}}</div>
          </div>
          <div class = "card-heading">{{card_7_Heading}}</div>
          <div class = "card-price">{{card_7_Price}}</div>
          <div class = "card-desc">{{card_7_desc}}</div>
        </div>
        <div class = "box">
          <div class = "image-box">
            <div class = "btn-info">
              <button>Buy Now</button>
            <div class = "price-info">{{price3}}</div>
            </div>
            <div class = "card-title">{{card_8_Title}}</div>
          </div>
          <div class = "card-heading">{{card_8_Heading}}</div>
          <div class = "card-price">{{card_8_Price}}</div>
          <div class = "card-desc">{{card_8_desc}}</div>
        </div>
      </div>
    </div>
  
   
      
    
  </div>
   
    
</div>


